SLACK_WORKSPACE_ID=
SLACK_LEO_USER_ID=U0BD3523C1F
SLACK_AGENT_OFFICE_APP_ID=
SLACK_AGENT_OFFICE_CHANNEL_ID=
SLACK_AGENT_OFFICE_BOT_TOKEN=
SLACK_AGENT_OFFICE_APP_TOKEN=
SLACK_FOUNDATION_APP_ID=
SLACK_FOUNDATION_CHANNEL_ID=
SLACK_FOUNDATION_BOT_TOKEN=
SLACK_FOUNDATION_APP_TOKEN=
